version: '3.9'

services:
  #Aplicación
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - ollama

  # Base de datos
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db

  # Modelo
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  #Configuracón para NGNIX Proxy Manager

  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'      # Puerta Principal (HTTP)
      - '81:81'      # Panel de Administración
      - '443:443'    # Puerta Segura (HTTPS)
    volumes:
      - ./nginx_data:/data
      - ./nginx_letsencrypt:/etc/letsencrypt

volumes:
  ollama_data: